/* Ensure PrimeNG components render properly in grid */
.grid > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

/* Ensure PrimeNG Select and DatePicker take full width */
.grid > div p-select,
.grid > div p-datepicker {
  width: 100%;
  display: block;
}

