/* Ensure PrimeNG components render properly in grid */
.grid > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

/* Ensure PrimeNG Select and DatePicker take full width */
.grid > div p-select,
.grid > div p-datepicker {
  width: 100%;
  display: block;
}

/* Align input and select heights */
:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-select {
  height: 2.5rem;
  min-height: 2.5rem;
}

:host ::ng-deep .p-select .p-select-label {
  height: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

/* Field group alignment */
.field-group {
  display: flex;
  flex-direction: column;
}