<div class="table-template-wrapper">
  <!-- Search Bar -->
  <div class="table-header mb-4">
    <div class="search-container">
      <input type="text" pInputText [value]="globalFilter" (input)="onGlobalFilter($event)" placeholder="Search..."
        class="search-input" icon="pi pi-search" />

    </div>
  </div>

  <!-- Table -->
  @if (isLoading) {
  <!-- Skeleton Loading -->
  <div class="skeleton-container">
    @for (row of [1,2,3,4,5]; track row) {
    <div class="skeleton-row">
      @for (col of columns; track col.field) {
      <p-skeleton width="100%" height="2rem" class="custom-skeleton"></p-skeleton>
      }
    </div>
    }
  </div>
  } @else {
  <p-table [value]="data" [columns]="columns" [paginator]="true" [rows]="rows" [first]="first"
    [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" [sortField]="sortField"
    [sortOrder]="sortOrder" (onPage)="onPageChange($event)" (onSort)="onSort($event)" [lazy]="true"
    styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        @if (actionTemplate) {
        <th class="text-center" style="width: 100px">Actions</th>
        }
        @for (col of columns; track col.field) {
        <th [pSortableColumn]="col.sortable ? col.field : ''" [style.width]="col.width">
          {{ col.header }}
          @if (col.sortable) {
          <p-sortIcon [field]="col.field"></p-sortIcon>
          }
        </th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        @if (actionTemplate) {
        <td class="text-center">
          <ng-container [ngTemplateOutlet]="actionTemplate"
            [ngTemplateOutletContext]="{ $implicit: rowData }"></ng-container>
        </td>
        }
        @for (col of columns; track col.field) {
        <td>
          @if (col.template) {
          <ng-container [ngTemplateOutlet]="col.template"
            [ngTemplateOutletContext]="{ $implicit: rowData, col: col }"></ng-container>
          } @else {
          {{ rowData[col.field] }}
          }
        </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + (actionTemplate ? 1 : 0)">
          <div class="empty-message">{{ emptyMessage }}</div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
</div>